.card-wrapper {
    width: 80%;
    margin: 0 auto;

    .ant-card-head {
        min-height: 36px;
        padding: 0 0px;
        font-size: 12px;
    }

    .bottom_button {
        // background-color: red;
        width: 100%;
        margin: 0 auto;

        .ant-space-align-center {
            width: 100%;
            justify-content: center;
            gap: 38px !important;

            .ant-btn {
                width: 80px;
            }
        }
    }
}



.view-form {
    .ant-card {
        border: 1px solid #ccc;
    }
    .asset_info {
        border: 1px solid #ccc;
        margin: 0px 5px;
        height: 80px;
        display: flex;
        .images {
            justify-content: center;
            vertical-align: middle;
            line-height: 78px;
            margin-left: 10px;
        }
        .info {
            margin-left: 10px;
            width: 100%;

            .row {
                height: 35px;
                line-height: 35px;
                .ant-col {
                    margin-left: 35px;
                    width: 20%;
                }
            }
        }
    }
    .monitor_info {
        border: 1px solid #ccc;
        margin: 10px 5px;
        height: 120px;
        display: flex;
        .base {
            width: 40%;
            .ant-row {
                margin-left: 30px !important;
                height: 35px;
                line-height: 35px;
            }
        }
        .script {
            width: 60%;
            display: flex;
            padding: 5px;
            .title {
                margin-top: 20px;
            }
            .content {
                background-color: #efefef;
                
            }
        }        
    }
    .party_info {
        display: inline-flex;
        .assembly {
            margin-left: 20px;
            .status {
                display: flex;
                justify-content: center;
                .no_normal {
                    color: red;
                    margin-left: 3px;
                }
                .normal {
                    color: green;
                    margin-left: 3px;
                }
            }
        }
    }
    
    .default_monitor {
        .ant-card-body {
            display: block;
            .monitor_body {
                display: inline-flex;   
                width: 100%;             
                .monitor_title {
                    margin-top: 10px;
                    // padding-right: 18px;
                    // width: 32%;
                    font-weight: 600;
                    margin-bottom: 5px;
                    display: flex;
                    margin-left: 10px;
                    position: relative;
                    .icons {
                         position: absolute;
                         right: 10px;
                         .anticon {
                           margin-left: 8px; 
                        }
                    }
                }
                

            }
            .group_monitor_body {
                margin-top: 5px;
                display: flex;   
                width: 100%;
                .every_graph {
                    width: 32%;
                    border: 0.5px solid #cecece;
                    margin: 3px;
                }                
                .monitor_title {
                    margin-top: 10px;
                    // padding-right: 18px;
                    // width: 32%;
                    font-weight: 600;
                    margin-bottom: 5px;
                    display: flex;
                    margin-left: 10px;
                    position: relative;
                    .icons {
                         position: absolute;
                         right: 10px;
                         .anticon {
                           margin-left: 8px; 
                        }
                    }
                }
                .table_list {
                    display: none;
                }

            }
            
            
        }
    }


}


.show_image {
    
    .cpu {
        background-image: url('/public/image/party/cpu.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .disk {
        background-image: url('/public/image/party/disk.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .fixed_party {
        background-image: url('/public/image/party/fixed_party.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .flow {
        background-image: url('/public/image/party/flow.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .liunx {
        background-image: url('/public/image/party/liunx.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .main_board {
        background-image: url('/public/image/party/main_board.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .memory {
        background-image: url('/public/image/party/memory.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .net {
        background-image: url('/public/image/party/net.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .power {
        background-image: url('/public/image/party/power.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .windows {
        background-image: url('/public/image/party/windows.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .zhuji {
        background-image: url('/public/image/party/zhuji.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
}