.card-wrapper {
    width: 80%;
    margin: 0 auto;

    .ant-card-head {
        min-height: 36px;
        padding: 0 0px;
        font-size: 12px;
    }

    .bottom_button {
        // background-color: red;
        width: 100%;
        margin: 0 auto;

        .ant-space-align-center {
            width: 100%;
            justify-content: center;
            gap: 38px !important;

            .ant-btn {
                width: 80px;
            }
        }
    }
}
.monitor_management_button_zone {
    width: 100%;
    display: flex;
    justify-content: center;
    .ant-btn-default {
        width: 100px;
        letter-spacing: 5px;
    }
}
.script_table {
    tr,td {
      height: 20px !important;
    }
    .ant-table-filter-column {
        padding-right: 30px;
        .anticon-search {
          color: #000;
        }
    }
}
.item_severity_style {
    text-align: center;
}
.monitor_form {
    .ant-card-head-title {
        background: #e9f1ff;
        font-size: 16px;
        // font-weight: 600;
        padding-left: 5px !important ;
    }

    .script_option  {
        padding: 23px;
        margin-top: 2px;
        button {
            background-color: #0A4B9D;
            margin-left: -10px;
            border: 1px solid #0A4B90;
            color: #fff;
            height: 32px;
            margin-top: 2px;
        }
        
    }
    .alert_rule_card {
        .ant-card-extra {
            .form_add {
                margin-right: 5px;
            }
        }
        .ant-card-head-title {
            padding: 10px 0 10px 5px  !important;
        }
        .ant-card-body {
            padding: 0 5px;
            .ant-col {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 5px;
                .ant-form-item {
                    flex-direction: column;
                    width: 100%;
                    .ant-select-single {
                        margin-left: 5%;
                    }
                    .ant-input-number-in-form-item {
                        margin-left: 10px;
                        width: 100%;
                    }
                    .ant-radio-group {
                        margin-left: 30%;
                    }
                }
            }
        }
    }
    .rule_card_group {
        width: 100%;
        .rule_card_group {
            .ant-card-head  {
                clear: both;
                min-height: 20px !important;
                height: 20px !important;
                line-height: 20px !important
                ;
            }
        }
    }
}

.view-form {
    .ant-card {
        border: 1px solid #ccc;
    }
    .ant-card-head-title {
        background-color: #e9f1ff;
        padding-left: 5px !important ;
        font-size: 14px;
        
    }
    .card-wrapper {
        width: 99% !important;
    }
    .asset_info {
        border: 1px solid #ccc;
        margin: 0px 5px;
        height: 80px;
        display: flex;
        .image_name {
            background-color: lightgray;
            display: flex;
            align-items: center;
            margin: 5px;
            width: 200px;
            height: 70px;
            img {
                width: 210px;
                height: 60px;
                margin: 0 auto;
                border-radius: 3px;
            }
            .image_not {
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: 900;
                color: darkgrey;
            }
        }

        .images {
            justify-content: center;
            vertical-align: middle;
            line-height: 60px;
            margin-left: 10px;
            width: 120px;
            background: linear-gradient(#e66465, #9198e5);
            margin: 10px;
            display: flex;
            color: #efefef;
            font-size: 20px;
        }
        .info {
            margin-left: 10px;
            width: 100%;

            .row {
                padding: 10px 0 5px 0;
                .ant-col {
                    margin-left: 15px;
                    width: 20%;
                }
            }
            .theme1 {
                display: inline-flex;
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 10px;
                .title {
                   width: 60px;
                   font-weight: 550;
                   text-align: right;
                //    background-color: red;
                }
                .content {
                    width:100px;
                }
                // div {
                //     margin-left: -5px;
                //     text-align: right;
                //     display: block;
                //     width: 120px;
                //     margin-right: 10px;
                // }
            }
        }
    }
    .monitor_info {
        border: 1px solid #ccc;
        margin: 10px 5px;
        height: 120px;
        display: flex;
        .base {
            width: 40%;
            display: inline-block;
            .ant-row {
                margin-left: 30px !important;
                height: 35px;
                display: inline-flex;
                width: 100%;
                line-height: 35px;                
            }
            .theme1 {
                display: inline-flex;
                width: 100%;
                
                div {
                    width: 30%;
                    margin-right: 10px;
                    text-align: right;
                }
            }
        }
        .script {
            width: 60%;
            display: flex;
            padding: 5px;
            .title {
                margin-top: 20px;
            }
            .content1 {
                background-color: #efefef;
                padding: 10px;
                font-weight: 900;
                width: 90%;
                
            }
        }        
    }
    .no_monitor {
        width: 100%;
        height: 200px;
        text-align: center;
        line-height: 200px;
        font-size: 16px;
        color: #cecece;
        font-weight: 900;
    }
    .party_info {
        width: 99.5%;
        padding: 5px;
        display: block;
        // border: 1px solid #cecece;
        // margin: 4px;
        .party_show {
            display: inline-flex;
            width: 100%;
            margin-top: 5px;
            padding-top: 10px;

            flex-wrap: wrap;
            justify-content: start;
            // margin-left: 8px;
            border: 1px solid #ccc;
            // justify-content: center;
           .assembly {
            // margin-left: 20px;
            padding: 10px;
            margin-left: 24px;
            display: block;
            width: 18%;
            border: 1px solid #cecece;
            justify-content: flex-start;
            margin-bottom: 10px;
            &:hover {
                cursor: pointer;
            }
            .image {
                width: 138px;
                height: 72px;
            }
            .title {
                font-weight: 550;
            }
            .status {
                display: flex;
                justify-content: center;
                .no_normal {
                    color: red;
                    margin-left: 3px;
                }
                .normal {
                    color: green;
                    margin-left: 3px;
                }
            }
           }
        }
    }
    
    .default_monitor {

        .ant-card-body {
            // display: block;
            // position: relative;
            .header_ {
                display: inline-flex;
                position: relative;
                width: 100%;
                padding: 0 5px;
                .ant-space-align-center {
                   align-items: baseline;
                }
                .auto-refresh-container {
                    background-color: re;
                    position: absolute;
                    right: 5px;
                    float: right;
                }
                .flashcat-timeRangePicker-target {
                    display: none;
                }
            }
            .monitor_body {
                display: inline-flex;   
                width: 100%;             
                .monitor_title {
                    margin-top: 10px;
                    // padding-right: 18px;
                    // width: 32%;
                    font-weight: 600;
                    margin-bottom: 5px;
                    display: flex;
                    margin-left: 10px;
                    position: relative;
                    .icons {
                         position: absolute;
                         right: 10px;
                         .anticon {
                           margin-left: 8px; 
                        }
                    }
                }
                

            }
            .group_monitor_body {
                margin-top: 5px;
                display: inline-flex;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 3px;
                .every_graph {
                    width: 32%;
                    border: 0.5px solid #cecece;
                    margin: 2px;
                }
                .every_graph :hover {
                    .icons {
                      display: block;
                    }
                }               
                .monitor_title {
                    margin-top: 10px;
                    // padding-right: 18px;
                    // width: 32%;
                    font-weight: 600;
                    margin-bottom: 5px;
                    display: flex;
                    margin-left: 10px;
                    position: relative;
                    .icons {
                         position: absolute;
                         right: 10px;
                         .anticon {
                           margin-left: 8px; 
                        }
                        display: none;

                    }
                }
                .table_list {
                    display: none;
                }

            }
            
            
        }
    }


}


.show_image {
    .image {
        margin-left: 26%;
    }
    
    .cpu {
        background-image: url('/image/party/cpu.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
        
    }
    .board {
        background-image: url('/image/party/board.png');
        width: 138px;
        height: 72px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:60%;
        
    }
    .bus {
        background-image: url('/image/party/bus.png');
        // background-position: center center;
        width: 138px;
        height: 72px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:60%;
        
    }
    .os {
        background-image: url('/image/party/os.png');
        width: 138px;
        height: 72px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:60%;        
    }
    .disk {
        background-image: url('/image/party/disk.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .fixed_party {
        background-image: url('/image/party/fixed_party.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .flow {
        background-image: url('/image/party/flow.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .liunx {
        background-image: url('/image/party/liunx.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .main_board {
        background-image: url('/image/party/main_board.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .memory {
        background-image: url('/image/party/memory.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .bios {
        background-image: url('/image/party/memory.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .net {
        background-image: url('/image/party/net.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .power {
        background-image: url('/image/party/power.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .windows {
        background-image: url('/image/party/windows.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
    .zhuji {
        background-image: url('/image/party/zhuji.png');
        width: 138px;
        height: 72px;
        background-repeat: no-repeat;
    }
}
.asset_item_ctr_button {
    right: 20px;
    cursor: pointer;
    width: 100%;
    text-align: right;
}
.accessories_modal{
    .accessories_body {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        padding: auto;
        justify-content: center;
        .accessories_every_group {
            width: 260px;
            border: 1px solid #cecece;
            display: inline-block;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 10px;     
            // position: relative;   
            left: 2%;
            // background-color: #F5F1F1;
            overflow: hidden;
            text-overflow: ellipsis;
            // margin-right: 1%;
            // margin: 5px;
            margin: 1% auto;
            .status {
                display: flex;
                margin: 0px auto;
                height: 20px;
                line-height: 20px;
                width: 100%;
                justify-content: center;
                .normal {
                    color: green;
                    margin-left: 5px;
                }
                .no_normal {
                    color: red;
                    margin-left: 5px;
                }
            }
            .properties {
                display: grid;
            }
            .accessories {
               display: inline-flex;
               height: 22px;
               line-height: 22px;
               width: 100%;
               .title {
                   font-size: 11px;
                   text-overflow: ellipsis;
                   font-weight: 600;
                //    display: flex;
                   text-align: right;
                   overflow: hidden;
                //    width: 40px;
                   white-space: nowrap;
                   margin-right: 5px;
                   width: 33%;         
                }
                .content {
                    width: 60%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    justify-content: space-between;
                    white-space: nowrap;
                }
            }
             
       }
        
    }
    .ant-btn-primary {
         display: none !important;
    }

}
