.assetmgt_list_2 {        
    height: 65px !important;
    .ant-tabs-nav {
        min-height: 43px !important;
        height: 43px;
        .ant-tabs-nav-wrap {            
            // background: #76adec;
        }
        .ant-tabs-tab + .ant-tabs-tab {
            margin: 0 0 0 0px;
        }
        .ant-tabs-nav-list {
            // margin-left: 15% !important;            
            .ant-tabs-tab {
                padding: 0px 0;
                padding-left: 10px;
                width: 107.2px;
                background-color: #e9f1ff;
                display: flex;
                color: #000;
                padding-left: 1px;                
                justify-content: center;
            }
        }
        
        .ant-tabs-tab-active {
            background-color: #2977d7 !important;            
            width: 107px !important;
            text-align: center;
            display: block;
            line-height: 60px;
            .ant-tabs-tab-btn {
                color: #fff;
                text-shadow: 0 0 0.25px currentcolor;
            }
        }
        
    }
}
.assetmgt_header_select {
    height: 43px !important;
    padding: 0px 0px 0px 0px !important;
}
.asset_manage_button_zone {
    width: 100%;
    display: flex;
    justify-content: center;
    .ant-btn-default {
        width: 100px;
        letter-spacing: 5px;
    }
}
.asset_xh_form {
    
    .ant-form-item {
        padding: 3px 0px;
        height: 30px;
        line-height: 30px;
    }
    
    .card-wrapper {
        .ant-card-head-wrapper {
            display: flex;
            align-items: center;
            background: #e9f1ff;
            .ant-card-head-title {
                padding-left: 3px;
                background-color: #e9f1ff;
                font-size: 14px;
                margin-left: 10px;
                color: #000;
                height: 38px;
            }
        }
        padding: 0 8px 8px 0px;
        width: 100%;
        .ant-card-head-title {
            display: flex;
            align-items: center;
        }
        .form_add {
            background-color: #57B894;
            border: 0;
            margin-right: 3px;
        }
        .ant-card-extra {
            width: 66px; 
        }
        .ant-card-body {
            padding: 0 !important;
            margin-top: 1px;
        }

    }
    .button-wrapper{
            justify-content: center;
             display: flex;
        .ant-space-align-center  {
            gap: 45px;
            width:100%;
            display: inline-flex;
            justify-content: center;
            .ant-btn {
                width: 80px;
            }
        }
        
    }
    .group_title {
        margin-top:2px;
        background-color: #e9f1ff;
        color: #000;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding-left: 10px;
        font-size: 14px;
        padding-left: 25px;
        display: inline-flex;
        position: relative;
    }

}