
.monitor_list_view {
    display: inline;
   .monitor-operate_xh {
       display: inline;
       width:100%;
      .table-content_xh {
         display: inline-flex;
         width: 100%;
         position: relative;
         .tool_right {
            display: inline-flex;            
            .tool_rightbtn{
                border-radius: 16% ;
            }
            .show_columns{
                border-radius: 16% ;
            }
            display: inline-flex;
            right: 0px;
            position: absolute;
        }
      }
      .monitor-list {
        .table-view {
            .anticon-file-protect, .anticon-file-search, .anticon-edit, .anticon-delete,.anticon-fund, .anticon-search{
                color:#1890FF;
                font-size: 16px;
                font-weight: 900;
            }
            .anticon-poweroff {
                font-size: 16px;
                font-weight: 900;
            }
        }
      }
   }

}
.default_monitor {
    .monitor_ {
        border: 1px solid #ccc;        
        margin-top: 5px;
        .monitor_title {
            margin-left: 10px;
            font-size: 15px;
            height: 25px;
            line-height: 25px;
            display: flex;
            position: relative;
            .icons {
                display: none;
                float: right;
                position: absolute;
                right: 0;
                margin-right: 10px;
                color: lightslategray;
                .anticon {
                    margin-left: 10px;
                }
            }
            
        }
    }
    .monitor_:hover {
       border-color: #1890FF !important;
       .icons{
        display: block;
       }
    }

}