.assets-list {
    padding: 0 15px 15px 15px;
    flex: 1;
    overflow: auto;

    .name-column {
        max-width: 250px;
    }

    .tags-column {
        min-width: 100px;
    }
}

.table-content_xh {
    width: 100%;
    .table-header_xh {
       width: 100%;
       margin-right: 10px;
    //    background-color: green;
       display: inline-flex;
       position: relative;
       .tool_right {
         position: absolute;
         right: 0;
         width: 245px;
         display: flex;
       }
    }
    // display: block;
    // flex-flow: row;
    // width: 77%;
}
.table-view{
    .ant-table-thead .ant-table-cell {
        white-space: nowrap;
    }
}

.table-header {
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.ant-tree .ant-tree-treenode {
    display: flex;
    align-items: flex-start;
    padding: 4px 0 4px 0;
    outline: none;
    // background-color: red;
    width: 100%;
}
.ant-tree .ant-tree-node-content-wrapper {
    width: 100%;
    height: 25px;
    line-height: 25px;
    

}
.ant-tree {
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
    color: #262626;
    font-size: 12px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    background: #fff;
    border-radius: 2px;
    transition: background-color 0.3s;
}
.ant-tree-list-holder-inner {
    align-items: flex-start;
    width: 100%;
}
.asset_organize_cls{
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 10px;
    display: flex;
    position: relative;
    .switch {
       position: absolute;
       right: 0px;
       margin-top: 5px;
       margin-right: 10px;
    }
    .ant-switch-checked {
      background: #7F7F7F;
    }
}
.monitor_list_view {
   .asset-operate_xh {
       width:calc(100% - 250px);
      .table-content_xh {
         display: flex;
         width: 100%;
         position: relative;
         .tool_right {
            display: inline-flex;
            right: 0px;
            position: absolute;
         }
      }
      .monitor-list {
        .table-view {
            .anticon-file-protect, .anticon-file-search, .anticon-edit, .anticon-delete,.anticon-fund, .anticon-search{
                color:#1890FF;
                font-size: 16px;
                font-weight: 900;
            }
            .anticon-poweroff {
                font-size: 16px;
                font-weight: 900;
            }
        }
      }
   }

}
.default_monitor {
    .monitor_ {
        border: 1px solid #ccc;        
        margin-top: 5px;
        .monitor_title {
            margin-left: 10px;
            font-size: 15px;
            height: 25px;
            line-height: 25px;
            display: flex;
            position: relative;
            .icons {
                display: none;
                float: right;
                position: absolute;
                right: 0;
                margin-right: 10px;
                color: lightslategray;
                .anticon {
                    margin-left: 10px;
                }
            }
            
        }
    }
    .monitor_:hover {
       border-color: #1890FF !important;
       .icons{
        display: block;
       }
    }

}